<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/blogs" method="POST">
    <fieldset>
        <legend>Send data your backend</legend>
<label for="name">Name</label>
<input type="text" name="username" id="name" placeholder="enter your name"><br><br>
<label for="comment">Comment</label>
<input type="text" name="comment" id="comment" placeholder="please enter your comment">
<br><br>
<button type="submit"> Send data </button>

    </fieldset>
</form>
</body>
</html>